.dark-theme {
  background-color: #020b16;
  color: #ffffff;
}

.dark-theme a {
  color: #ffd700;
}

.dark-theme button {
  background-color: #ffd700;
  color: #020b16;
}

.dark-theme input {
  background-color: #020b16;
  color: #ffffff;
}

.dark-theme header,
.dark-theme footer {
  background-color: #020b16;
  color: #ffd700;
}